<div class="row">
    <!--ancho del div-->
    <button (click)="aplicarSonido(1)" class="btn btn-primary text-dark" style="background-color: red; ">DO</button>
    <button (click)="aplicarSonido(2)" class="btn btn-primary text-dark" style="background-color: orange; ">RE</button>
    <button (click)="aplicarSonido(3)" class="btn btn-primary text-dark" style="background-color: yellow;">MI</button>
    <button (click)="aplicarSonido(4)" class="btn btn-primary text-white" style="background-color: green;">FA</button>
    <button (click)="aplicarSonido(5)" class="btn btn-primary text-white" style="background-color: teal;">SOL</button>
    <button (click)="aplicarSonido(6)" class="btn btn-primary text-white" style="background-color: blue;">LA</button>
    <button (click)="aplicarSonido(7)" class="btn btn-primary text-white" style="background-color: purple;">SI</button>
</div>