

<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por País</h2>
    <hr />

    <div class="row">
        <div class="col">
            <!-- Le pasa la funcion buscar atraves del emiter del onEnter  -->
            <app-input-country 
                (onEnter)="buscar($event)"
                placeholder="Buscar capital en ingles..."
            >
            </app-input-country>
        </div>
    </div>

    <hr />

    <div *ngIf="errorExists" class="alert alert-danger">
        no se encontro ningun resultado para la busqueda: {{termino}}
    </div>

    <div *ngIf="!errorExists" class="row">
        <div class="col">
            <!--Llama al componente hijo y le pasa el parametro de los countries -->
            <app-table-country [dataTable]="countries"></app-table-country>
        </div>
    </div>
</div>