<h2>Busqueda</h2>
<hr />
<ul class="list-group">
    <li 
    routerLink="" 
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item d-flex justify-content-between"
    >
        Buscar Pais
        <i class="bi bi-flag"></i>
    </li>
    <li routerLink="region" routerLinkActive="active" class="list-group-item d-flex justify-content-between">
        Por Region
        <i class="bi bi-globe"></i>
    </li>
    <li routerLink="capital" routerLinkActive="active" class="list-group-item d-flex justify-content-between">
        Por Capital
        <i class="bi bi-geo-alt-fill"></i>
    </li>
</ul>